* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-height: 100vh;
    height: 100%;
    overflow-y: auto;
}

body {
    background-color: #1c1c1c;
    color: #ffffff;
    margin-bottom: 50px;
    overflow: auto;
    padding-bottom: 8%;
}


.vs {
    overflow-y: hidden;
    max-width: 90%;
}
.comparison td {
    padding: 5px;
}

.comparison .positive {
    color: red;
}

.comparison .negative {
    color: green;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}

table, th, td {
    border: 1px solid #ffffff;
}

th, td {
    padding: 10px;
    text-align: left;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}


#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #444444;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#myUL li:hover {
    background-color: #eee;
    cursor: pointer;
}


#searchUL li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#searchUL li:hover {
    background-color: #eee;
    cursor: pointer;
}
