body {
    background-color: #1c1c1c;
    color: #ffffff;

}
@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(0, 0, 0, 0.091);
        backdrop-filter: blur(9px);
    }
}
.champion {
    text-align: center;
    background-color: navajowhite;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.champion-name {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.champion-icon {
    max-width: 50px;
    max-height: 50px;
    display: inline-block;
}
#myInput{
    width: 220px;
}
#searchResultsContainer{
    width: 220px;
    text-align: center;
    position: absolute;
    background-color: #1c1c1c;
    z-index: 1;
}
.searchStyle a{
    text-decoration: none;
    margin-top: 10px;
    color: red;
    font-weight: bold;
}