<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/Champions.css}">
</head>
<body class="vh-100 overflow-hidden">
<div th:replace="~{fragments/navbar :: navbar}"></div>
<!--usunąć <text> z description, zdjecia itemow-->
<div class="container">
    <img id="img" th:src="${'https://static.bigbrain.gg/assets/lol/riot_static/13.23.1/img/item/' + itemImage.full}">
    <h1 th:text="${itemData.name}"></h1>
    <p th:text="${itemData.plaintext}"></p>
    <p th:text="${itemGold.total}"></p>

    <span id="formattedOutput" th:attr="data=${itemData.description}"></span>

    <script>
        function formatOutput(inputText) {
            const attentionPattern = /<attention>(.*?)<\/attention>/g;
            const activePattern = /<active>(.*?)<\/active>/g;
            const passivePattern = /<passive>(.*?)<\/passive>/g;
            const rarityMythicPattern = /<rarityMythic>(.*?)<\/rarityMythic>/g;
            const rarityLegendaryPattern = /<rarityLegendary>(.*?)<\/rarityLegendary>/g;

            inputText = inputText.replace(attentionPattern, '<b>$1</b>');
            inputText = inputText.replace(activePattern, '<i>$1</i>');
            // Additional formatting for other elements if needed

            return inputText;
        }

        document.addEventListener('DOMContentLoaded', function() {
            const formattedOutputElement = document.getElementById('formattedOutput');
            const itemDataDescription = formattedOutputElement.getAttribute('data');
            const formattedDescription = formatOutput(itemDataDescription);
            formattedOutputElement.innerHTML = formattedDescription;
        });
    </script>

    <p th:text="${itemData.tags}"></p>


</div>
<script th:src="@{/js/mainChampions.js}" defer></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>