<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/championsMain.css}">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</head>
<body>

<h1>User Profile</h1>
<h2>Profile</h2>
<p th:text="${profile.gameName}"></p>
<p th:text="${profile.tagLine}"></p>
<p th:text="${profile.puuid}"></p>

<h2>Summoner</h2>
<p th:text="${summoner.accountId}"></p>
<p th:text="${summoner.profileIconId}"></p>
<p th:text="${summoner.revisionDate}"></p>
<p th:text="${summoner.name}"></p>
<p th:text="${summoner.id}"></p>
<p th:text="${summoner.puuid}"></p>
<p th:text="${summoner.summonerLevel}"></p>
</body>
</html>