<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  Wyglad strony, Galeria skinow, ikonki statow? (z bootsrapa mozna) -->
    <meta charset="UTF-8">
    <title th:text="${championData.name}">Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/Champions.css}">
</head>
<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>
<body>
<div class="container">
    <img th:src="${'https://ddragon.leagueoflegends.com/cdn/' + version +'/img/champion/' + championImage.full}">
    <h1 th:text="${championData.name}"></h1>
    <p th:text="${championData.title}"></p>
    <p th:text="${championData.lore}"></p>

    <p>Compare base stats</p>
    <input type="text" id="myInput" class="search-bar" placeholder="Search for champions..." oninput="filterNames()">

    <ul id="searchUL">
        <li th:each="entry: ${championsData}" class="champion-item" data-classes="${entry.value.tags}">
            <div class="champion">
                <span class="champion-name" th:text="${entry.value.id}" th:href="@{'/champions/' + ${entry.value.id}}"></span>:
                <span class="champion-classes"></span>
            </div>
        </li>
    </ul>

    <p>
        <span th:text="${championInfo.attack}"></span>
        <span th:text="${championInfo.magic}"></span>
        <span th:text="${championInfo.defense}"></span>
        <span th:text="${championInfo.difficulty}"></span>
    </p>

    <p th:text="${championData.tags}"></p>
    <p th:text="${championData.partype}"></p>
<!-- https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/perk-images/statmods/ ikonki :D -->
    <label for="selectNumber">Select a level:</label>
    <select id="selectNumber" name="selectNumber">
        <option value="1" selected>Level 1</option>
        <script th:inline="javascript">
            var selectElement = document.getElementById("selectNumber");

            for (var i = 2; i <= 18; i++) {
                var option = document.createElement("option");
                option.value = i;
                option.textContent = "Level " + i;
                selectElement.appendChild(option);
            }
        </script>
    </select>

    <br><br>

    <table>
        <tr>
            <td>HP:</td>
            <td><span id="hpValue"  th:attr="data-initial=${championStats.hp}, data-per-level=${championStats.hpperlevel}"></span></td>
            <td>HP per level:</td>
            <td><span id="hpPerLevelValue" th:text="${championStats.hpperlevel}"></span></td>
        </tr>
        <tr>
            <td>MP:</td>
            <td><span id="mpValue" th:attr="data-initial=${championStats.mp}, data-per-level=${championStats.mpperlevel}"></span></td>
            <td>MP per level:</td>
            <td><span id="mpPerLevelValue" th:text="${championStats.mpperlevel}"></span></td>
        </tr>
        <tr>
            <td>Armor:</td>
            <td><span id="armorValue" th:attr="data-initial=${championStats.armor}, data-per-level=${championStats.armorperlevel}"></span></td>
            <td>Armor per level:</td>
            <td><span id="armorPerLevelValue" th:text="${championStats.armorperlevel}"></span></td>
        </tr>
        <tr>
            <td>Spell block:</td>
            <td><span id="spellblockValue" th:attr="data-initial=${championStats.spellblock}, data-per-level=${championStats.spellblockperlevel}"></span></td>
            <td>Spell block per level:</td>
            <td><span id="spellblockPerLevelValue" th:text="${championStats.spellblockperlevel}"></span></td>
        </tr>
        <tr>
            <td>Movespeed:</td>
            <td><span th:text="${championStats.movespeed}"></span></td>
            <td>Attack range:</td>
            <td><span th:text="${championStats.attackrange}"></span></td>
        </tr>
        <tr>
            <td>HP regeneration:</td>
            <td><span id="hpregenValue" th:attr="data-initial=${championStats.hpregen}, data-per-level=${championStats.hpregenperlevel}"></span></td>
            <td>HP regeneration per level:</td>
            <td><span id="hpregenPerLevelValue" th:text="${championStats.hpregenperlevel}"></span></td>
        </tr>
        <tr>
            <td>MP regeneration:</td>
            <td><span id="mpregenValue" th:attr="data-initial=${championStats.mpregen}, data-per-level=${championStats.mpregenperlevel}"></span></td>
            <td>MP regeneration per level:</td>
            <td><span id="mpregenPerLevelValue" th:text="${championStats.mpregenperlevel}"></span></td>
        </tr>
        <tr>
            <td>Critical Strike:</td>
            <td><span id="critValue" th:attr="data-initial=${championStats.crit}, data-per-level=${championStats.critperlevel}"></span></td>
            <td>Critical Strike per level:</td>
            <td><span id="critPerLevelValue" th:text="${championStats.critperlevel}"></span></td>
        </tr>
        <tr>
            <td>Attack damage:</td>
            <td><span id="attackdamageValue" th:attr="data-initial=${championStats.attackdamage}, data-per-level=${championStats.attackdamageperlevel}"></span></td>
            <td>Attack damage per level:</td>
            <td><span id="attackdamagePerLevelValue" th:text="${championStats.attackdamageperlevel}"></span></td>
        </tr>
        <tr>
            <td>Attack speed:</td>
            <td><span id="attackspeedValue" th:attr="data-initial=${championStats.attackspeed}, data-per-level=${championStats.attackspeedperlevel}"></span></td>
            <td>Attack speed per level:</td>
            <td><span id="attackspeedPerLevelValue" th:text="${championStats.attackspeedperlevel}"></span></td>
        </tr>
    </table>

    <script th:inline="javascript">
        var selectElement = document.getElementById("selectNumber");
        var statElements = {
            "hp": document.getElementById("hpValue"),
            "mp": document.getElementById("mpValue"),
            "armor": document.getElementById("armorValue"),
            "spellblock": document.getElementById("spellblockValue"),
            "hpregen": document.getElementById("hpregenValue"),
            "mpregen": document.getElementById("mpregenValue"),
            "crit": document.getElementById("critValue"),
            "attackdamage": document.getElementById("attackdamageValue"),
            "attackspeed": document.getElementById("attackspeedValue")
        };

        function updateStat(selectedLevel, element) {
            var perLevelValue = parseFloat(element.getAttribute("data-per-level")) || 0;
            var initialValue = parseFloat(element.getAttribute("data-initial")) || 0;
            var calculatedValue = initialValue + perLevelValue * (selectedLevel - 1);

            // Check if there are decimal places before applying toFixed
            var formattedValue = calculatedValue % 1 === 0 ? calculatedValue : calculatedValue.toFixed(2);

            element.textContent = formattedValue;
        }

        // Add an initial update when the page loads
        document.addEventListener("DOMContentLoaded", function() {
            var selectedLevel = parseInt(selectElement.value);
            updateStat(selectedLevel, statElements["hp"]);
            updateStat(selectedLevel, statElements["mp"]);
            updateStat(selectedLevel, statElements["armor"]);
            updateStat(selectedLevel, statElements["spellblock"]);
            updateStat(selectedLevel, statElements["hpregen"]);
            updateStat(selectedLevel, statElements["mpregen"]);
            updateStat(selectedLevel, statElements["crit"]);
            updateStat(selectedLevel, statElements["attackdamage"]);
            updateStat(selectedLevel, statElements["attackspeed"]);
        });

        selectElement.addEventListener("change", function () {
            var selectedLevel = parseInt(selectElement.value);
            updateStat(selectedLevel, statElements["hp"]);
            updateStat(selectedLevel, statElements["mp"]);
            updateStat(selectedLevel, statElements["armor"]);
            updateStat(selectedLevel, statElements["spellblock"]);
            updateStat(selectedLevel, statElements["hpregen"]);
            updateStat(selectedLevel, statElements["mpregen"]);
            updateStat(selectedLevel, statElements["crit"]);
            updateStat(selectedLevel, statElements["attackdamage"]);
            updateStat(selectedLevel, statElements["attackspeed"]);
        });


    </script>


    <img th:src="${'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/passive/' + championPassive.image.full}">
    <label>Name: </label><p th:text="${championPassive.name}"></p>
    <label>Description: </label><p th:text="${championPassive.description}"></p>

    <div th:each="spell : ${championSpells}">
        <img th:src="${'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + spell.image.full}">
        <p>Name: <span th:text="${spell.name}"></span></p>
        <p>Description: <span th:text="${spell.description}"></span></p>
    </div>

    <div th:each="skin : ${championSkins}">
        <p><span th:text="${skin.name}"></span></p>
        <img id="skin" th:src="${'https://ddragon.leagueoflegends.com/cdn/img/champion/splash/' + championData.id + '_' + skin.num + '.jpg'}">
    </div>
</div>

<script th:src="@{/js/infoChampion.js}" defer></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>
