<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    sidebar, poukładanie col-md-x-->
    <!--  css do linkow, klikalne obrazki  -->
    <!--    style do searcha i listy wyników-->
<!--  BACK - sortowanie  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/mainItems.css}">
</head>
<body class="vh-100">
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container" style="margin-bottom: 10px">
    <input type="text" id="myInput" oninput="filterNames()" placeholder="Search for items..">
    <div class="searchStyle" id="searchResultsContainer"></div>

    <div class="btn-group" role="group" aria-label="Item Categories">
        <button type="button" class="btn btn-secondary" data-filter="All" onclick="toggleFilter(this)">Clear</button>
        <button type="button" class="btn btn-secondary" data-filter="Damage" onclick="toggleFilter(this)">Attack Damage</button>
        <button type="button" class="btn btn-secondary" data-filter="CriticalStrike" onclick="toggleFilter(this)">Critical Strike</button>
        <button type="button" class="btn btn-secondary" data-filter="AttackSpeed" onclick="toggleFilter(this)">Attack Speed</button>
        <button type="button" class="btn btn-secondary" data-filter="OnHit" onclick="toggleFilter(this)">On-Hit Effects</button>
        <button type="button" class="btn btn-secondary" data-filter="ArmorPenetration" onclick="toggleFilter(this)">Armor Penetration</button>
        <button type="button" class="btn btn-secondary" data-filter="SpellDamage" onclick="toggleFilter(this)">Ability Power</button>
        <button type="button" class="btn btn-secondary" data-filter="Mana" onclick="toggleFilter(this)">Mana</button>
        <button type="button" class="btn btn-secondary" data-filter="ManaRegen" onclick="toggleFilter(this)">Mana Regeneration</button>
        <button type="button" class="btn btn-secondary" data-filter="MagicPenetration" onclick="toggleFilter(this)">Magic Penetration</button>
        <button type="button" class="btn btn-secondary" data-filter="Health" onclick="toggleFilter(this)">Health</button>
        <button type="button" class="btn btn-secondary" data-filter="HealthRegen" onclick="toggleFilter(this)">Health Regeneration</button>
        <button type="button" class="btn btn-secondary" data-filter="Armor" onclick="toggleFilter(this)">Armor</button>
        <button type="button" class="btn btn-secondary" data-filter="MagicResist" onclick="toggleFilter(this)">Magic Resistance</button>
        <button type="button" class="btn btn-secondary" data-filter="AbilityHaste" onclick="toggleFilter(this)">Ability Haste</button>
        <button type="button" class="btn btn-secondary" data-filter="LifeSteal" onclick="toggleFilter(this)">Life Steal</button>
        <button type="button" class="btn btn-secondary" data-filter="SpellVamp" onclick="toggleFilter(this)">Spell Vamp</button>
        <button type="button" class="btn btn-secondary" data-filter="NonbootsMovement" onclick="toggleFilter(this)">Movement</button>
        <button type="button" class="btn btn-secondary" data-filter="Boots" onclick="toggleFilter(this)">Boots</button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6" th:each="entry: ${itemsData}" data-classes="${entry.value.tags}">
            <div class="item" data-tags="${entry.value.tags}">
                <img id="itemImage" class="item-icon" th:src="${'https://ddragon.leagueoflegends.com/cdn/'+ version +'/img/item/' + entry.value.image.full}">
                <a class="item-name" th:text="${entry.value.name}" th:href="@{'/items/' + ${entry.value.name}}"></a>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var itemsData = /*[[${itemsData}]]*/ {};
    var itemsArray = Object.values(itemsData);
    var selectedTags = [];
    var version = /*[[${version}]]*/ "";

    console.log("itemsData:", itemsData);

    function filterByTags(tags) {
        return itemsArray.filter(item =>
            item.tags !== undefined && tags.every(tag => item.tags.includes(tag))
        );
    }

    function displayItems(items) {
        var itemsList = document.querySelector(".row");

        itemsList.innerHTML = "";

        items.forEach(item => {
            var colDiv = document.createElement("div");
            colDiv.classList.add("col-lg-3", "col-md-4", "col-sm-4");

            var itemDiv = document.createElement("div");
            itemDiv.classList.add("item");

            var img = document.createElement("img");
            img.id = "itemImage";
            img.src = 'https://ddragon.leagueoflegends.com/cdn/'+ version +'/img/item/' + item.image.full;

            var itemName = document.createElement("a");
            itemName.classList.add("item-name");
            itemName.href = '/items/' + item.name;
            itemName.textContent = item.name;

            itemDiv.appendChild(img);
            itemDiv.appendChild(itemName);

            colDiv.appendChild(itemDiv);
            itemsList.appendChild(colDiv);
        });
    }

    function toggleFilter(button) {
        var tag = button.getAttribute('data-filter');

        if (tag === 'All') {
            selectedTags = [];
        } else {
            var index = selectedTags.indexOf(tag);
            if (index !== -1) {
                selectedTags.splice(index, 1);
            } else {
                selectedTags.push(tag);
            }
        }

        var filteredItems = filterByTags(selectedTags);
        displayItems(filteredItems);

        var buttons = document.querySelectorAll('.btn');
        buttons.forEach(btn => {
            var btnTag = btn.getAttribute('data-filter');
            if (selectedTags.includes(btnTag)) {
                btn.classList.add('active');
            } else {
                btn.classList.remove('active');
            }
        });
    }

    displayItems(itemsArray);

    function filterNames() {
        var filter = document.getElementById("myInput").value.toLowerCase();
        var items = document.getElementsByClassName("item");

        document.getElementById("searchResultsContainer").innerHTML = "";

        if (filter.trim() === "") {
            document.getElementById("searchResultsContainer").style.display = "none";
            return;
        }

        var displayedResults = 0;

        for (var i = 0; i < items.length; i++) {
            var item = items[i];
            var itemNameElement = item.querySelector(".item-name");
            var itemName = itemNameElement.textContent.toLowerCase();
            var itemNameOriginal = itemNameElement.textContent;
            if (itemName.includes(filter)) {
                var resultItem = document.createElement("div");
                var link = document.createElement("a");
                link.textContent = itemNameElement.textContent;
                link.href = '/items/' + itemNameOriginal;
                link.onclick = function(event) {
                    event.stopPropagation();
                };
                resultItem.appendChild(link);
                document.getElementById("searchResultsContainer").appendChild(resultItem);

                displayedResults++;

                if (displayedResults === 4) {
                    break;
                }
            }
        }

        document.getElementById("searchResultsContainer").style.display = "block";
    }

    function capitalize(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
    }

    var allChampionsTags = getAllTags(championsArray);
    var allItemsTags = getAllTags(itemsArray);
    var allTags = [...new Set([...allChampionsTags, ...allItemsTags])];

    console.log("All Tags:", allTags);

    function getAllTags(dataArray) {
        return dataArray.reduce((tags, item) => {
            if (item.tags !== undefined) {
                return [...tags, ...item.tags];
            }
            return tags;
        }, []);
    }
    /*]]>*/
</script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>
