<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--   WYGLAD i FILTROWANIE PO KLASIE-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champions List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/championsMain.css}">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</head>
<body>

<input type="text" id="myInput" oninput="filterNames()" placeholder="Search for names..">

<!-- Display search results in this container -->
<div id="searchResultsContainer"></div>

<!--<button class="class-button" onclick="filterByTag('Assassin')">Assassin</button>-->
<!--<button class="class-button" onclick="filterByTag('Fighter')">Fighter</button>-->
<!--<button class="class-button" onclick="filterByTag('Mage')">Mage</button>-->
<!--<button class="class-button" onclick="filterByTag('Marksman')">Marksman</button>-->
<!--<button class="class-button" onclick="filterByTag('Support')">Support</button>-->
<!--<button class="class-button" onclick="filterByTag('Tank')">Tank</button>-->

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" th:each="entry: ${championsData}" data-classes="${entry.value.tags}">
            <div class="champion" data-tags="${entry.value.tags}">
                <img id="skin" th:src="${'https://ddragon.leagueoflegends.com/cdn/13.23.1/img/champion/' + entry.value.id + '.png'}">
                <a class="champion-name" th:text="${entry.value.id}" th:href="@{'/champions/' + ${entry.value.id}}"></a>
<!--                <span class="champion-classes">-->
<!--                    <span th:each="tag, tagStatus : ${entry.value.tags}">-->
<!--                        <span th:text="${tag}"></span><span th:if="${!tagStatus.last}">, </span>-->
<!--                    </span>-->
<!--                </span>-->
            </div>
        </div>
    </div>
</div>

<script>
    function filterNames() {
        var filter = document.getElementById("myInput").value.toLowerCase();
        var champions = document.getElementsByClassName("champion");

        // Clear previous search results
        document.getElementById("searchResultsContainer").innerHTML = "";

        if (filter.trim() === "") {
            // Hide the search results container when the filter is empty
            document.getElementById("searchResultsContainer").style.display = "none";
            return;
        }

        var displayedResults = 0;

        for (var i = 0; i < champions.length; i++) {
            var champion = champions[i];
            var championNameElement = champion.querySelector(".champion-name");
            var championName = championNameElement.textContent.toLowerCase();
            var championNameOriginal = championNameElement.textContent;
            if (championName.includes(filter)) {
                // Display search result
                var resultItem = document.createElement("div");
                var link = document.createElement("a");
                link.textContent = championNameElement.textContent; // Keep the original case
                link.href = '/champions/' + championNameOriginal;
                link.onclick = function(event) {
                    event.stopPropagation(); // Prevent the filterNames() from being triggered
                };
                resultItem.appendChild(link);
                document.getElementById("searchResultsContainer").appendChild(resultItem);

                displayedResults++;

                if (displayedResults === 4) {
                    break; // Limit to 4 results
                }
            }
        }

        // Show the search results container
        document.getElementById("searchResultsContainer").style.display = "block";
    }

    function capitalize(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
    }

    function filterByTag(tag) {
        var champions = document.getElementsByClassName("champion");

        for (var i = 0; i < champions.length; i++) {
            var champion = champions[i];
            var championTags = champion.getAttribute("data-tags").toLowerCase();
            if (championTags.includes(tag.toLowerCase())) {
                champion.style.display = "block";
            } else {
                champion.style.display = "none";
            }
        }
    }
</script>




</body>
</html>
