<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    sidebar, poukładanie col-md-x-->
<!--  css do linkow, klikalne obrazki  -->
<!--    style do searcha i listy wyników-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champions List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/championsMain.css}">
</head>
<body class="vh-100">
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container" style="margin-bottom: 10px">
    <input type="text" id="myInput" oninput="filterNames()" placeholder="Search for champions..">
    <div class="searchStyle" id="searchResultsContainer"></div>

    <div class="btn-group" role="group" aria-label="Champion Categories">
        <button type="button" class="btn btn-secondary" onclick="toggleFilter('All')">All</button>
        <button type="button" class="btn btn-secondary" onclick="toggleFilter('Assassin')">Assassin</button>
        <button type="button" class="btn btn-secondary" onclick="toggleFilter('Fighter')">Fighter</button>
        <button type="button" class="btn btn-secondary" onclick="toggleFilter('Mage')">Mage</button>
        <button type="button" class="btn btn-secondary" onclick="toggleFilter('Marksman')">Marksman</button>
        <button type="button" class="btn btn-secondary" onclick="toggleFilter('Support')">Support</button>
        <button type="button" class="btn btn-secondary" onclick="toggleFilter('Tank')">Tank</button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-5" th:each="entry: ${championsData}" data-classes="${entry.value.tags}">
            <a th:href="@{'/champions/' + ${entry.value.id}}">
                <div class="champion" data-tags="${entry.value.tags}">
                    <img id="skin" class="champion-icon" th:src="${'https://ddragon.leagueoflegends.com/cdn/'+ version +'/img/champion/' + entry.value.id + '.png'}">
                    <span class="champion-name" th:text="${entry.value.id}"></span>
                </div>
            </a>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const championsData = /*[[${championsData}]]*/ {};
    var championsArray = Object.values(championsData);
    var selectedTags = [];
    var version = /*[[${version}]]*/ "";
    console.log("championsData:", championsData);

    function filterByTags(tags) {
        return championsArray.filter(champion =>
            champion.tags !== undefined && tags.every(tag => champion.tags.includes(tag))
        );
    }

    function displayChampions(champions) {
        var championsList = document.querySelector(".row");

        championsList.innerHTML = "";

        champions.forEach(champion => {
            var colDiv = document.createElement("div");
            colDiv.classList.add("col-lg-2", "col-md-4", "col-sm-6");

            var championDiv = document.createElement("div");
            championDiv.classList.add("champion");

            var img = document.createElement("img");
            img.id = "skin";
            img.src = 'https://ddragon.leagueoflegends.com/cdn/'+version+'/img/champion/' + champion.id + '.png';

            var championName = document.createElement("a");
            championName.classList.add("champion-name");
            championName.href = '/champions/' + champion.id;
            championName.textContent = champion.id;

            championDiv.appendChild(img);
            championDiv.appendChild(championName);

            colDiv.appendChild(championDiv);
            championsList.appendChild(colDiv);
        });
    }

    function toggleFilter(tag) {
        if (tag === 'All') {
            selectedTags = [];
            // Remove the "active" class from all buttons
            var buttons = document.querySelectorAll('.btn');
            buttons.forEach(button => {
                button.classList.remove('active');
            });
        } else {
            var index = selectedTags.indexOf(tag);
            if (index !== -1) {
                selectedTags.splice(index, 1);
            } else {
                selectedTags.push(tag);
            }
        }

        var filteredChampions = filterByTags(selectedTags);
        displayChampions(filteredChampions);

        // Highlight selected buttons using the "active" class
        var buttons = document.querySelectorAll('.btn');
        buttons.forEach(button => {
            if (selectedTags.includes(button.textContent)) {
                button.classList.add('active');
            } else {
                button.classList.remove('active');
            }
        });
    }


    displayChampions(championsArray);

    function filterNames() {
        var filter = document.getElementById("myInput").value.toLowerCase();
        var champions = document.getElementsByClassName("champion");

        document.getElementById("searchResultsContainer").innerHTML = "";

        if (filter.trim() === "") {
            document.getElementById("searchResultsContainer").style.display = "none";
            return;
        }

        var displayedResults = 0;

        for (var i = 0; i < champions.length; i++) {
            var champion = champions[i];
            var championNameElement = champion.querySelector(".champion-name");
            var championName = championNameElement.textContent.toLowerCase();
            var championNameOriginal = championNameElement.textContent;
            if (championName.includes(filter)) {
                var resultItem = document.createElement("div");
                var link = document.createElement("a");
                link.textContent = championNameElement.textContent;
                link.href = '/champions/' + championNameOriginal;
                link.onclick = function(event) {
                    event.stopPropagation();
                };
                resultItem.appendChild(link);
                document.getElementById("searchResultsContainer").appendChild(resultItem);

                displayedResults++;

                if (displayedResults === 4) {
                    break;
                }
            }
        }

        document.getElementById("searchResultsContainer").style.display = "";
    }

    function capitalize(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
    }
    /*]]>*/
</script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>
