<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--   WYGLAD i FILTROWANIE PO KLASIE-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champions List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/championsMain.css}">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</head>
<body>

<input type="text" id="myInput" oninput="filterNames()" placeholder="Search for names..">

<select id="tagFilter">
    <option value="all">All</option>
    <option value="fighter">Fighter</option>
    <option value="tank">Tank</option>
    <option value="mage">Mage</option>
</select>
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6" th:each="entry: ${championsData}" data-classes="${entry.value.tags}">
            <div class="champion">
                <div class="image-wrapper"><img src="https://static.bigbrain.gg/assets/lol/riot_static/13.23.1/img/champion/Aatrox.png" alt="Aatrox" width="120px" height="120px"></div>
                <span class="champion-name" th:text="${entry.value.id}" th:href="@{'/champions/' + ${entry.value.id}}"></span>:
                <span class="champion-classes">
                <span th:each="tag, tagStatus : ${entry.value.tags}">
                <span th:text="${tag}"></span><span th:if="${!tagStatus.last}">, </span>
                </span>
                </span>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/mainChampions.js}" defer></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>
