<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Domowa</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/Champions.css}">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <!-- Your head content -->

    <!-- Add the following script -->
    <script>
        // Function to handle list item click
        function navigateToItem(url) {
            window.location.href = url;
        }

        // Function to attach click event to list items
        function attachClickEvent() {
            var listItems = document.querySelectorAll("#myUL li");

            listItems.forEach(function (item) {
                item.addEventListener("click", function () {
                    var url = item.getAttribute("data-url");
                    if (url) {
                        navigateToItem(url);
                    }
                });
            });
        }

        // Wait for the DOM to be ready
        document.addEventListener("DOMContentLoaded", function () {
            attachClickEvent();
        });
    </script>

    <input type="text" id="myInput" onkeyup="filterNames()" placeholder="Search for names..">
</head>
<body>
<!-- Your body content -->

<!-- Update Thymeleaf expression to use entry.value.name in data-url -->
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" th:each="entry: ${itemsData}" th:attr="data-url=@{'/items/' + ${entry.value.name}}">
            <div class="champion" data-tags="${entry.value.tags}">
                <img id="skin" th:src="${}">
                <span class="item-name" th:text="${entry.value.name}"></span>:
                <span th:text="${entry.value.tags}"></span>
            </div>
        </div>
    </div>
</div>

<!-- Add the following script -->
<script th:src="@{/js/mainChampions.js}" defer></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>
